@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  background: #42b0d2;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.greeting {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	color: #FFFFFF;
	font-size: 30px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0e92ba;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #FFFFFF;
  font-size: 12px;
}
.form .message a {
  color: #FFFFFF;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ffffff;
}
.topnav { /*Используется*/
	margin-left: -11px;
	width: 1875px;
	background-color: #ffffff;
	height: 60px;
	text-align: center;
}
.topnav a { /*Используется*/
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin: 0px 50px 0px 50px;
  vertical-align: middle;
  color: #000000;
}
.top_but{ /*Используется*/
	background: #0e92ba;
	border-color: #0C88AD;
	color: #ffffff;
	font-size: 30px;
	font-family: "Roboto", sans-serif;
	border-radius: 3px;
}
.top_but:hover { /*Используется*/
	background: #ffffff;
	border-color: #0C88AD;
	color: #0e92ba;
	font-size: 30px;
	font-family: "Roboto", sans-serif;
	border-radius: 3px;
}
#pass { /*Используется*/
	font-size: 30px;
	width: 200px;
}
.main_sel {
	font-size: 25px;
	color: #000000;
	font-family: "Roboto", sans-serif;
}
.main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background: rgba(66, 176, 210, 0.8);;
	border-style: double;
	border-color: #0C88AD;
	border-width: 2px;
	border-radius: 20px;
	padding: 10px;
	width: 1300px;
	height: 750px;
	text-align: center;
	position: relative;
}
.main a {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	margin: 0px 10px 0px 10px;
	color: #ffffff;
}
table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	border-spacing: 20px;
	width: 1260px;
	height: 650px;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	color: #ffffff;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	overflow: scroll; /* Scrollbar are always visible */
	overflow: auto;   /* Scrollbar is displayed as it's needed */
}
td {
	padding-left: 20px;
    background: #0e92ba;
    border: 3px;
    border-color: #0C88AD;
    text-align: left;
    width: 1260px;
	height: 100px;
	white-space: normal;
   }
body { /*Используется*/
background-image: url(/auth/Back.png);
background-position: top center;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
